.arrowcontainer {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
}

.arrowcontainer span {
  display: block;
  font-size: 100px;
  transition: all 0.4s ease;
}

/* place the day's weather card at the top, the 5-day at the bottom of the screen.
   Commented out because tailwind doesn't have this and seems to override this
.mycolumn-2 {
  justify-content: space-between;
}
*/